<div class="container">
   <div class="row">
      <h2 class="col-xs2">注文情報入力</h2>
   </div>

  <div class="row">
    <h3 class="col-xs1">支払い方法</h3>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radio1" id="radio1a" checked>
        <label class="form-check-label" for="radio1a">クレジットカード</label>
   </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="radio1" id="radio1a" checked>
      <label class="form-check-label" for="radio1a">銀行振込</label>
    </div>


 　  <div class="row">
    　 <h3 class="col-xs1">お届け先</h3>
      　　<div class="form-check">
        　<input class="form-check-input" type="radio" name="radio1" id="radio1a" checked>
        　<label class="form-check-label" for="radio1a">　ご自身の住所</label>
     </div>

   	<div class="form-check">
      <input class="form-check-input" type="radio" name="radio1" id="radio1a" checked>
      <label class="form-check-label" for="radio1a">登録済住所から選択</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="radio1" id="radio1a" checked>
      <label class="form-check-label" for="radio1a">新しいお届け先</label>
    </div>



</div>
