<div class="address_lists">
<div class="container">
    <div class="row">
      <h3 class="col-xs-offset-1">配送先登録/一覧</h3>
    </div>


<!-- 警告文後で追加 -->

    <%= form_for(@address_list) do |f| %>
     <div class="row">
	      <h6 class="col-xs-2">郵便番号（ハイフンなし）</h4>
    	  <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" , class:"col-xs-offset-3" %>
	 </div>




	<% end %>



</div>
</div>
