<div class="admins_customers">
<div class="container">
    <div class="row">
      <h3 class="col-xs-offset-1 row_top">会員一覧</h3>
    </div>

    <table class="table table-bordered">
          <tr>
            <th class="col-xs-2 customers_table_term">会員ID</th>
            <th class="customers_table_term">氏名</th>
            <th class="customers_table_term">メールアドレス</th>
            <th class="customers_table_term">ステータス</th>
          </tr>

          <% @customers.each do |customer| %>
			  <tr>
		        <td><%= customer.id %></td>
		        <td><%= link_to "#{customer.last_name}#{customer.first_name}", admins_customer_path(customer) %>
		        </td>
		　　　　 <td><%= customer.email %></td>

		        <% unless customer.deleted_at? %>
		          <td class="text-danger">有効</td>
		        <% else %>
		          <td>退会済</td>
		        <% end %>
		        </tr>
          <% end %>
	</table>
  <%= paginate @customers %>
</div>
</div>