<div class="customers_customers">
<div class="container">
    <div class="row">
      <h3 class="col-xs-offset-1">会員一覧</h3>
    </div>



<table class="table table-bordered">
          <tr>
            <th class="col-xs-2 customers_table_term">会員ID</th>
            <th class="customers_table_term">氏名</th>
            <th class="customers_table_term">メールアドレス</th>
            <th class="customers_table_term">ステータス</th>
          </tr>

          <% @customers.each do |customer| %>
		  <tr>
	        <td><%= customer.id %></td>
	        <td><%= customer.last_name %><%= customer.first_name %></td>
	　　　　 <td><%= customer.email %></td>

	        <% unless user.deleted_at? %>
	          <td>有効</td>
	        <% else %>
	          <td>無効</td>
	        <% end %>








</div>
</div>