.login-title {
	font-size: 16px;
	background-color: #EDEDED;
	display: inline-block;
	padding: 0 15px;
}

.registration-title {
	font-size: 20px;
	background-color: #EDEDED;
	display: inline-block;
}

.login-btn {
	width: 131px;
	height: 35px;
	background-color: #3D8BCD;
	font-color: white;
}

.forget {
	margin-bottom: 10px;
}

.not-yet {
	margin-top: 20px;
}


.devise-link {
	text-decoration:underline;
}

