// Place all the styles related to the customers/Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select {
 left: 200px;
 width: 200px;
}

.order-update {
	margin-left: 10px;
}

.table-order {
	margin-top: 70px;
}

.tabele-title {
	font-size: 20px;
}