<div class="genre-search">
	<h4>ジャンル検索</h4>
	<div class="genre">
		<ul>
			<% categories.each do |category| %>
			<% if category.valid_flag == true %>
			<li><%= link_to category.name, customers_products_path(category_id: category.id), class: "genre-item" %></li>
			<% end %>
			<% end %>
		</ul>
	</div>
</div>