<div class="genre-search">
	<h4>ジャンル検索</h4>
	<div class="genre">
		<ul>
			<li><%= link_to "ケーキ", customers_products_path, class: "genre-item" %></li>
			<li><%= link_to "焼き菓子", customers_products_path, class: "genre-item" %></li>
			<li><%= link_to "プリン", customers_products_path, class: "genre-item" %></li>
			<li><%= link_to "キャンディ", customers_products_path, class: "genre-item" %></li>
		</ul>
	</div>
</div>