<div class="top-all">
<div class="container">
<div class="row">
	<div class="col-xs-2">
		<%= render 'homes/category_search' %>
	</div>
	<div class="col-xs-10">
		<div class="main-image">
			<div class="main-text">
				<p>
					ようこそ、NaganoCakeへ！<br>
					このサイトは、ケーキ販売のECサイトになります。<br>
					会員でない方も商品の閲覧はできますが、<br>
					購入には会員登録が必要になります。<br>
				</p>
			</div>
		</div>
		<div class="items">
			<h2>オススメ商品</h2>
			<div class="item">
				<div class="col-xs-3">
					<div class="image1">
					</div>
					<p>自家製プリン</p>
					<p>￥400</p>
				</div>
				<div class="col-xs-3">
					<div class="image2">
					</div>
					<p>ケーキボール</p>
					<p>￥500</p>
				</div>
				<div class="col-xs-3">
					<div class="image3">
					</div>
					<p>クッキー詰め合わせ</p>
					<p>￥2,980</p>
				</div>
				<div class="col-xs-3">
					<div class="image4">
					</div>
					<p>マカロン詰め合わせ</p>
					<p>￥3,300</p>
				</div>
			</div>
		</div>
		<div class="col-xs-offset-11 more">
			<%= link_to "もっと見る>", customers_products_path %>
		</div>
	</div>
</div>
</div>
</div>