/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";            /*ここを追加*/
 /*bodyのCSS*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
/*ヘッダーとフッターのCSS*/
.nav-height{
	height: auto;
	background-color: #112a63;
}
.nav-icon{
	padding: 40px;
	color: #f1efe7;
}
.header-name {
	color: #f1efe7;
	font-size: 15px;
}
.header-name2 {
	color: #f0413d;
}
.menu-btn{
	background-color: #f0413d;
	color: #f1efe7;
}
.btn-style{
	margin-right: 20px;
}
.footer {
	background-color: #112a63;
	height: 100px;
}
/*検索機能のCSS*/
.search-nav {
	margin-top: 10px;
}
/*KaminariのCSS*/
.pagination>li>a {
  color: #112a63;   /*文字の色を変える*/
  background-color: #f1efe7;
}
.pagination>.active>a {
  background: #112a63;     /*背景の色を変える*/
}
.glyphicon-search {
   color: #112a63;
}

/*フラッシュメッセージ*/

.notice {
  background-color: #f1efe7;
  color: #white;
  text-align: center;
  font-size: 20px;
}

.alert {
  background-color: red;
  color: #white;
  text-align: center;
  mergin-bottom:0 !important;
}
