<div class="top-all">
	<div class="container">
		<div class="row">
			<h3>注文履歴詳細</h3>
				<table>
					  <tr>
					    <th>購入者</th>
					    <td class="col-xs-3">内容</td>
					  </tr>
					    <tr>
					    <th>配送先</th>
					    <td class="col-xs-3">内容</td>
					  </tr>
					  <tr>
					    <th>支払方法</th>
					    <td class="col-xs-3">内容</td>
					  </tr>
					  <tr>
					    <th>注文ステータス</th>
					    <td class="col-xs-3">内容</td>
					  </tr>
				</table>

				<table class="table">
					<thead style="background-color: #112a63;">
						<tr style="color: #f1efe7;">
							<th>商品名</th>
							<th>単価（税込）</th>
							<th><数量/th>
							<th>小計</th>
							<th>製作ステータス</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>data</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
</div>