<div class="top-all">
<div class="container">
<div class="row">
<br>
<div class="col-xs-offset-1">
<h3>管理者画面</h>
</div>
<br>
<br>







<h2>本日の注文件数</h2><span class="today-count"><%= @today.count %>件</span>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</div>
</div>